* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* INTRO */
.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    background: url("../img/images/MoGo_FREE_Template_by_Laaqiq_01.jpg") center no-repeat;
    background-size: cover;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.up_title {
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

.title {
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 30px auto 0;

}


/*HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}


.nav {
    text-transform: uppercase;
    font-size: 14px;
}

.nav_font {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;

}

.nav_font:hover {
    color: #fce38a;
    border-bottom: 2px solid #fce38a;
    margin-bottom: -2px;
    transition: .2s;
}


/* BUTTTON */
.btn {
    display: inline-block;
    vertical-align: top;
    border: 3px solid #fff;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 10px 13px;
    margin-top: 50px;
    font-weight: 700;

}

.btn:hover {
    color: #333;
    background-color: #fff;
    transition: .8s;
}


/* SLIDER */
.intro_slider {
    display: flex;
    justify-content: space-between;
}

.slider_item {
    font-size: 18px;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    width: 23%;
    padding: 10px;
    border-top: 3px solid #fff;
    margin-top: 40px;
    opacity: .7;
}

.slider_item.active {
    opacity: 1;
}


.slider_item.active::before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 1;
    background-color: #f38181;
}




/* ABOUT US  ||  SECOND PAGE*/

.container_about{
       width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

.about_title{
    margin-top: 90px;
}
.up_story_about{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    text-align: center;
}

.story_about{
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}

.story_about::after{
    content: "";
    display: block;
    margin: 40px auto 0;
    height: 3px;
    width: 62px;
    background-color: #f38181;
}

.text_about{
    width: 100%;
    max-width: 960px;
    margin: 40px auto 80px;
    text-align: center;
}

.p_about{
    font-size: 15px;
    font-family: Roboto;
    color: #aaaaaa;
}


/* ABOUT US ITEMS */
.about_items{
    width: 100%;
    max-width: 1210px;
    margin: 0 auto 110px;
    height: 260px;
    border: 2px solid black;
}


/* STATICS */
.about_award{
    width: 100%;
    max-width: 100vw;
    background-color: #95e1d3;
}

.statics{
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.stat_item{
    border-left: 1px solid #b5eae0;
    color: #fff;
    width: 240px;
    padding: 70px 0;
}
.stat_count{
    font-size: 72px;
    font-weight: 600;
    line-height: 1.2;
}
.stat_text{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}

.stat_item:last-child{
    border-right: 1px solid #b5eae0;
}
